@mixin flexDirection ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
  background-color: var(--color-black)
}

.video-container {
  @include flexDirection(flex, column);
  height: 100%;
  width: 100%;
  padding: 5rem;

  video {
    margin: auto;
    height: 90%;
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  .video-container {
    padding: 3rem;

    video {
      width: 93%;
    }
  }
}

@media screen and (max-width: 450px) {
  .video-container {
    padding: 2rem;
  }
}