@mixin flexDirection ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}

@mixin justifyAlign($justify, $align) {
  justify-content: $justify;
  align-items: $align;
}

.app__navbar {
  @include flexDirection(flex, row);
  @include justifyAlign(space-between, center);

  width: 100%;
  background: var(--color-black);

  div {
    @include flexDirection(flex, row);
    @include justifyAlign(flex-start, center);

    img {
      margin: 0 0 0 1rem;
      width: 150px;
      transition: 0.5s ease-in-out;
    }

    img:hover {
      transform: scale(1.01);
    }
  }

  ul {
    @include flexDirection(flex, row);
    @include justifyAlign(center, center);

    flex: 1;
    list-style-type: none;

    li {
      margin: 0 1rem;
      cursor: pointer;
      color: white;
      transition: 0.5s ease-in-out;
    }

    li:hover {
      color: var(--color-grey);
      transform: scale(1.15);
      margin: 0 2rem;
    }
  }

  .login {
    margin-right: 1rem;

    a {
      color: white;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      margin-left: 2rem;
    }

    a:hover {
      color: var(--color-grey);
    }
  }

  .smallScreen {
    display: none;
    transition: 2s ease-in-out;

    .hamburger {
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }

    div {
      @include flexDirection(flex, column);

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: var(--color-black);
      transition: 2s ease;
      z-index: 9;

      .overlay {
        font-size: 27px;
        color: var(--color-golden);
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}

.loginMobile {
  display: none;
}

@media screen and (max-width: 1150px) {
  .app__navbar {
    ul {
      display: none;
    }

    .smallScreen {
      @include flexDirection(flex, column);

      div {
        transition: 2s ease;

        ul {
          @include flexDirection(flex, column);
          @include justifyAlign(center, center);

          flex: 1;
          list-style-type: none;

          li {
            margin: 1rem 1rem;
            cursor: pointer;
            transition: 0.5s ease-in-out;
            font-size: 28px;
            font-weight: 500;
            font-family: var(--font-base);
            color: var(--color-golden);
          }

          li:hover {
            color: var(--color-white);
            transform: scale(1.2);
            margin: 2rem 2rem;
          }
        }
      }
    }

    .loginMobile {
      display: block;
    }
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    div {
      img {
        width: 100px;
        aspect-ratio: 9/3;
      }
    }

    .login a {
      display: none;
    }

    .loginMobile {
      display: block;
    }
  }
}
