/* stylelint-disable no-descending-specificity */
@mixin flexDirection ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}

.menu_container {
  @include flexDirection(flex, column);

  padding: 2rem;
  background-color: var(--color-black);

  .subheading_container {
    margin: auto;

    @include flexDirection(flex, column);

    p {
      font-size: 20px;
      color: var(--color-white);
      font-family: var(--font-base);
    }

    img {
      margin: 0.5rem auto 0;
      transform: rotate(180deg);
    }
  }

  h2 {
    padding: 1rem;
    font-size: 34px;
    text-align: center;
    color: var(--color-golden);
    font-family: var(--font-base);
  }

  .menu-section {
    @include flexDirection(flex, row);

    div:nth-of-type(1) {
      @include flexDirection(flex, column);

      flex: 2;
      text-align: center;

      h3 {
        font-size: 28px;
        font-family: var(--font-base);
        color: var(--color-white);
      }

      div {
        align-items: flex-start;

        .menuItem {
          width: 100%;
          height: 5rem;
          padding: 1rem;

          div:nth-of-type(1) {
            @include flexDirection(flex, row);

            width: 100%;
            margin: 5px;

            p:nth-of-type(1) {
              flex: 2;
              color: #dcca87;
              text-align: start;
            }

            div {
              flex: 3;
              border: dotted white;
              border-width: 2px 0 0 0;
              width: 3rem;
              margin: auto;
            }

            p:nth-of-type(2) {
              flex: 1;
              color: var(--color-white);
            }
          }

          div:nth-of-type(2) {
            p {
              font-style: italic;
              color: rgba(169, 169, 169, 0.425);
            }
          }
        }
      }
    }

    div:nth-of-type(2) {
      @include flexDirection(flex, column);

      flex: 1;

      img {
        margin: auto;
        height: 350px;
      }
    }

    div:nth-of-type(3) {
      @include flexDirection(flex, column);

      flex: 2;
      text-align: center;

      h3 {
        font-size: 28px;
        font-family: var(--font-base);
        color: var(--color-white);
      }

      div {
        align-items: flex-start;

        .menuItem {
          width: 100%;
          height: 5rem;
          padding: 1rem;

          div:nth-of-type(1) {
            @include flexDirection(flex, row);

            width: 100%;
            margin: 5px;

            p:nth-of-type(1) {
              flex: 2;
              color: #dcca87;
              text-align: start;
            }

            div {
              flex: 3;
              border: dotted white;
              border-width: 2px 0 0 0;
              width: 3rem;
              align-self: center;
              margin: auto;
            }

            p:nth-of-type(2) {
              flex: 1;
              color: var(--color-white);
            }
          }

          div:nth-of-type(2) {
            p {
              font-style: italic;
              color: rgba(169, 169, 169, 0.425);
            }
          }
        }
      }
    }
  }

  button {
    margin: 2rem auto;
    border: none;
    background: var(--color-golden);
    padding: 0.5rem;
    width: 10em;
    border-radius: 100px;
    font-family: var(--font-alt);
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    transition: 1s ease;
  }

  button:hover {
    background: var(--color-golden-dark);
    color: var(--color-golden);
    transform: scale(1.01);
    transition: 1s ease;
    font-size: 20px;
    outline: 1px solid var(--color-golden);
  }

  button:active {
    transform: scale(0.9);
    transition: 1s ease;
  }
}

@media screen and (min-width: 900px) and (max-width: 1150px) {
  .menu_container {
    .menu-section {
      div:nth-of-type(1),
      div:nth-of-type(3) {
        div {
          .menuItem {
            div:nth-of-type(1) {
              p:nth-of-type(1) {
                font-size: 14px;
                letter-spacing: 0.01rem;
                margin: auto;
              }

              div {
                flex: 1.5;
                width: 1rem;
                margin: auto;
              }

              p:nth-of-type(2) {
                margin: auto;
                font-size: 14px;
              }
            }

            div:nth-of-type(2) {
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 820px) {
  .menu_container {
    .menu-section {
      div:nth-of-type(1),
      div:nth-of-type(3) {
        div {
          .menuItem {
            div:nth-of-type(1) {
              p:nth-of-type(1) {
                font-size: 12px;
                letter-spacing: 0.01rem;
                margin: auto;
              }

              div {
                flex: 1;
                width: 1rem;
                margin: auto;
              }

              p:nth-of-type(2) {
                margin: auto;
                font-size: 12px;
              }
            }

            div:nth-of-type(2) {
              p {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 450px) {
  .menu_container {
    .menu-section {
      div:nth-of-type(1),
      div:nth-of-type(3) {
        flex: 2;

        h3 {
          font-size: 20px;
        }

        div {
          .menuItem {
            div:nth-of-type(1) {
              p:nth-of-type(1) {
                font-size: 12px;
                letter-spacing: 0.01rem;
                margin: auto;
              }

              div {
                flex: 1;
                width: 1rem;
                margin: auto;
              }

              p:nth-of-type(2) {
                margin: auto;
                font-size: 14px;
              }
            }

            div:nth-of-type(2) {
              p {
                font-size: 8px;
              }
            }
          }
        }
      }

      .wine-section {
        margin-left: -1.7rem;
      }

      div:nth-of-type(2) {
        img {
          width: 100px;
          height: 200px;
        }
      }
    }
  }
}
