@mixin flexDirection ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}

.feedback-container {
  margin: auto;
  height: 80vh;
  width: 90vw;
  color: white;
  overflow: hidden;
  padding: 3rem 1rem;

  h2 {
    text-align: center;
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 34px;
  }

  .slide-container {
    margin: 2rem auto;
    width: 20vw;
    height: 256px;
    border: 5px solid var(--color-golden);
    text-align: center;
    transition: .4s ease-in-out;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    border-style: inset;
    background-color: var(--color-black);

    p {
      font-family: var(--font-base);
      font-size: 18px;
    }
  
    p:nth-of-type(2) {
      font-size: 22px;
      font-family: var(--font-alt);
      color: var(--color-golden);
    }

    p:nth-of-type(3) {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
    }
  }

  .slide-container:hover {
    transform: scale(1.05);
  }

  .button-area {
    @include flexDirection(flex, column);

    button {
      margin: 1rem auto;
      border: none;
      background: var(--color-golden);
      padding: 0.5rem;
      width: 10em;
      border-radius: 100px;
      font-family: var(--font-alt);
      font-weight: 400;
      font-size: 20px;
      cursor: pointer;
      transition: 1s ease;
    }

    button:hover {
      background: var(--color-black);
      color: var(--color-golden);
      transform: scale(1.01);
      transition: 1s ease;
      font-size: 20px;
      outline: 1px solid var(--color-golden);
    }

    button:active {
      transform: scale(0.9);
      transition: 1s ease;
    }
  }
}

@media screen and (max-width: 1150px) {
  .feedback-container {
    .slide-container {
      p {
        font-size: 20px;
      }

      p:nth-of-type(2) {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .feedback-container {
    .slide-container {
      padding: .8rem;
      border-radius: 1.5rem;

      p {
        font-size: 18px;
      }

      p:nth-of-type(2) {
        font-size: 18px;
        line-height: 20px;
      }

      p:nth-of-type(3) {
        bottom: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .feedback-container {
    .slide-container {
      width: 30vw;
      border: 2px solid var(--color-golden);
      padding: .8rem;
      border-radius: 1.5rem;

      p {
        font-size: 12px;
      }

      p:nth-of-type(2) {
        font-size: 16px;
        line-height: 18px;
      }

      p:nth-of-type(3) {
        bottom: 1.5rem;
      }
    }
  }
}

