@mixin flexDirection ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}

.feedback-container {
  margin: auto;
  height: 80vh;
  width: 90vw;
  color: white;
  overflow: hidden;
  padding: 3rem 1rem;

  h2 {
    text-align: center;
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 34px;
  }

  .slide-container {
    margin: 2rem auto;
    width: 20vw;
    height: 256px;
    border: 5px solid var(--color-golden);
    text-align: center;
    transition: .4s ease-in-out;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    border-style: inset;
    background-color: var(--color-black);

    p {
      font-family: var(--font-base);
      font-size: 24px;
    }
  
    p:nth-of-type(2) {
      color: var(--color-golden);
      margin: 0 0 2.5rem 0;
    }

    span {

    }
  }

  .slide-container:hover {
    transform: scale(1.05);
  }

  .button-area {
    @include flexDirection(flex, column);

    button {
      margin: 1rem auto;
      border: none;
      background: var(--color-golden);
      padding: 0.5rem;
      width: 10em;
      border-radius: 100px;
      font-family: var(--font-alt);
      font-weight: 400;
      font-size: 20px;
      cursor: pointer;
      transition: 1s ease;
    }

    button:hover {
      background: var(--color-black);
      color: var(--color-golden);
      transform: scale(1.01);
      transition: 1s ease;
      font-size: 20px;
      outline: 1px solid var(--color-golden);
    }

    button:active {
      transform: scale(0.9);
      transition: 1s ease;
    }
  }
}
