@mixin flexDirection ($flex, $direction) {
  display: $flex;
  flex-direction: $direction;
}

.header_container {
  background-color: var(--color-black);
  @include flexDirection(flex, row);
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

  div:nth-of-type(1) {
    margin: 4rem 0 4rem 4rem;
    width: 45%;

    .subheading_container {
      margin-bottom: 1rem;

      p:nth-of-type(1) {
        font-family: var(--font-base);
        color: var(--color-white);
        justify-content: flex-start;
      }
    }

    h1 {
      font-family: var(--font-base);
      color: var(--color-golden);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      line-height: 90px;
      font-size: 70px;
      width: 7em;
      margin-left: 4rem;
    }

    .sellPoint {
      margin: 1rem 0 1rem 4rem;
      font-family: var(--font-base);
      color: var(--color-golden);
      letter-spacing: 0.04em;
      width: 25em;
    }

    button {
      margin: 1rem 0 1rem 4rem;
      border: none;
      background: var(--color-golden);
      padding: 0.5rem;
      width: 10em;
      border-radius: 100px;
      font-family: var(--font-alt);
      font-weight: 400;
      font-size: 20px;
      cursor: pointer;
      transition: 1s ease;
    }

    button:hover {
      background: var(--color-golden-dark);
      transform: scale(1.01);
      transition: 1s ease;
      font-size: 20px;
      outline: 1px solid var(--color-golden);
    }

    button:active {
      transform: scale(.9);
      transition: 1s ease;
    }
  }

  div:nth-of-type(2) {
    width: 40%;
    
    img {
      margin: 7rem 0 0 20%;
      width: 23rem;
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1150px) {
  .header_container {
    div:nth-of-type(1) {
      margin-left: 20px;

      .subheading_container {
        margin-left: 10px;

        p:nth-of-type(1) {
          font-size: 20px;
          width: 200px;
        }
      }

      h1 {
        margin-left: 10px;
        width: 100%;
      }

      .sellPoint {
        margin-left: 10px;
        margin-right: 1px;
        width: 90%;
      }

      button {
        margin: 0 0 0 33%;
      }
    }

    div:nth-of-type(2) {
      img {
        width: 300px;
        margin: 9rem 0 0 10%;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .header_container {
    @include flexDirection(flex, column);

    div:nth-of-type(1) {
      width: 90%;
      margin: 2rem;

      .subheading_container {
        margin-left: 1px;
        margin-right: 1px;

        p:nth-of-type(1) {
          font-size: 20px;
          width: 200px;
        }
      }

      h1 {
        margin-left: 1px;
        margin-right: 1px;
        width: 90%;
      }

      .sellPoint {
        margin-left: 1px;
        margin-right: 1px;
        width: 70%;
      }

      button {
        margin: 0 0 0 33%;
      }
    }

    div:nth-of-type(2) {
      img {
        width: 400px;
        margin: 0 0 0 50%;
      }
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 450px) {
  .header_container {
    @include flexDirection(flex, column);

    div:nth-of-type(1) {
      margin-top: 20px;
      margin-left: 50px;

      .subheading_container {
        margin-left: 1px;
        margin-right: 1px;

        p:nth-of-type(1) {
          width: 200px;
        }
      }

      h1 {
        margin-left: 1px;
        margin-right: 1px;
        line-height: 75px;
        width: 300px;
      }

      .sellPoint {
        margin-left: 1px;
        margin-right: 1px;
        width: 300px;
      }

      button {
        margin: 0 auto;
      }
    }

    div:nth-of-type(2) {
      img {
        width: 250px;
        margin: 0 0 0 50%;
      }
    }
  }
}